html,
body,
#viewDiv {
  height: 400px;
  width: 100%;
}
#viewDiv2 {
  height: 400px;
  width: 100%;
}
#LayerList_Div {
  position: absolute;
  top: 100px;
  width: 250px;
  height: 700px;
  background: #ececec;
  z-index: 9;
}
#coordinates {
  position: absolute;
  top: 650px;
  left: 50px;
  width: 220px;
  height: 20px;
  background: #ffffff;
  z-index: 99;
}